:root {
  --d-green: rgb(46, 83, 36);
  --m-green: rgb(128, 183, 107, 0.75);
  --l-green: rgb(180, 217, 159, 0.75);
  --white-ish: rgba(229, 250, 232, 0.75);
  --white: #fff;
	--black: #000;
	--transblack: rgb(0, 0, 0, 0.8);
    --titlefont: 'Belanosima', Arial, sans-serif;
	--headerfont: 'Crimson Pro', serif;
	--bodyfont: 'Lexend', Arial, sans-serif;
}

body {
  background-image: url('./buildbg.png');
  background-color: var(--white-ish);
  margin: auto;
  width: 80%;
	background-size: cover;
}

header {
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--m-green);
	border-radius: 10px;
}

header h1 {
  font-family: var(--titlefont);
  color: var(--d-green);
	text-shadow: var(--white) 1px 1px 1px;
  margin-bottom: 5px;
	background-color: var(--l-green);
	border-radius: 10px;
}

h1 {
	font-size: 50px;
	padding-top: 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
}

h2 {
	font-size: 18px;
	font-family: var(--headerfont);
}

h1, h3, h4 {
	font-family: var(--titlefont);
	color: var(--d-green);
	text-shadow: var(--white) 1px 1px 1px;
}

a {
	color: var(--white-ish);
  font-style: bold;
}

a:hover {
	color: var(--d-green);
	transition: 400ms ease-in-out;
	border-radius: 5px;
}

#pack-selection {
	margin-top: 15px;
	padding: 10px;
	background-color: var(--m-green);
	border-radius: 10px;
	font-family: var(--bodyfont);
	font-size: 12px;
}

h3 {
	font-size: 30px;
	text-align: center;
	background-color: var(--l-green);
	padding-top: 5px;
	border-radius: 5px;
	margin-top: 0px;
}

h4 {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--l-green);
	border-radius: 5px;
}

.pack-list {
	margin-top: -5px;
	display: inline-grid;
	grid-template-columns: repeat(5, 20px [col-start] 150px [col-start]);
	grid-row-gap: 10px;
}

#spinner {
	margin-top: 15px;
	text-align: center;
}
/* some of button base style is from https://css-tricks.com/overriding-default-button-styles/ */
#spinner-button {
	border: none;
	border-radius: 10px;
	width: 100%;
  text-decoration: none;
	background: var(--l-green);
  color: var(--d-green);
	font-family: var(--titlefont);
  font-size: 50px;
  text-align: center;
	font-weight: bold;
	text-shadow: var(--white) 1px 1px 1px;
  transition: 200ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
}

#spinner-button:hover {
		background: var(--white-ish);
    font-style: bold;
}

#spinner-button:active {
	background-color: var(--transblack);
	color: var(--l-green)
}

#spinner {
	background-color: var(--m-green);
	border-radius: 10px;
	padding: 0.5rem;
}

#results {
	margin-top: 15px;
	padding: 10px;
	padding-bottom: 10px;
	background-color: var(--m-green);
	border-radius: 10px;
	font-family: var(--bodyfont);
	font-size: 12px;
}

table {
	table-layout: fixed;
	width: 100%;
	border: 3px solid var(--d-green);
	border-radius: 5px;
	/* need to make actual grid style here */
}

tbody tr:nth-child(odd) {
	background-color: var(--l-green);
}

tbody tr:nth-child(even) {
	background-color: var(--m-green);
}

th {
	font-family: var(--headerfont);
	font-size: 16px;
}

footer {
	font-family: var(--headerfont);
	font-size: 18px;
	text-align: center;
}