:root {
  --d-green: #447e36;
  --m-green: #80b76b;
  --l-green: #b4d99f;
  --white-ish: rgba(229, 250, 232, 0.75);
  --white: #fff;
	--black: #000;
	--transblack: rgb(0, 0, 0, 0.8);
  --titlefont: 'Rock Salt', Arial, sans-serif;
	--headerfont: 'Stint Ultra Condensed', serif;
	--bodyfont: 'Lato', Arial, sans-serif;
}

body {
  background-image: url('./palmleaf.png');
	background-color: var(--white-ish);
  margin: auto;
  width: 80%;
}

header {
  font-family: var(--headerfont);
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--white-ish);
	border-radius: 10px;
}

header h1 {
  font-family: var(--titlefont);
  color: var(--m-green);
	text-shadow: var(--d-green) 1px 1px 1px;
  margin-bottom: 5px;
}

h1 {
	font-size: 50px;
	padding-top: 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
}
h2 {
	font-size: 18px;
	margin-top: -30px;
}

a {
	color: var(--d-green);
  font-style: bold;
}

a:hover {
	color: var(--l-green);
	background-color: var(--white-ish);
	transition: 400ms ease-in-out;
	border-radius: 5px;
}

#pack-selection {
	margin-top: 15px;
	padding: 10px;
	background-color: var(--m-green);
	border-radius: 10px;
	font-family: var(--bodyfont);
	font-size: 12px;
}

h3 {
	font-family: var(--headerfont);
	font-size: 30px;
	text-align: center;
	background-color: var(--l-green);
	color: var(--d-green);
	padding-top: 5px;
	border-radius: 5px;
	margin-top: 0px;
	text-shadow: var(--white-ish) 1px 1px 1px
}

#pack-selection h4 {
	font-family: var(--headerfont);
	font-size: 16px;
	margin-bottom: 0px;
}

/* TODO: style the checkboxes to look better/be in an actual list */
#pack-list {
	margin-top: -5px;
	display: inline-grid;
	grid-template-columns: repeat(5, 20px [col-start] 150px [col-start]);
	grid-row-gap: 10px;
}

#spinner {
	margin-top: 15px;
	text-align: center;
}
/* button base style from https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
	border: none;
	border-radius: 100px;
	padding: 10px;
  text-decoration: none;
	background: var(--l-green);
  color: var(--d-green);
	font-family: var(--titlefont);
  font-size: 50px;
  text-align: center;
	text-shadow: var(--white-ish) 1px 1px 1px;
  transition: 200ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
		background: var(--m-green);
    font-style: bold;
}

button:active {
	background-color: var(--white-ish);
	transform: rotate(-540deg)
}
/* end button style */

#results {
	margin-top: 15px;
	padding: 10px;
	padding-bottom: 10px;
	background-color: var(--m-green);
	border-radius: 10px;
	font-family: var(--bodyfont);
	font-size: 12px;
}

table {
	table-layout: fixed;
	width: 80%;
	border-width: 10px;
	border-color: var(--black);
	font-family: var(--bodyfont);
}

footer {
	font-family: var(--headerfont);
	font-size: 18px;
	text-align: center;
}